{% set title = 'Add Event' %}
{% extends "shared/layout.html" %}
{% block content %}

<section>
    <div class="panel-group">
        <div class="block block--underline">
            <h1 style="display: inline;">{{ title }}</h1>
        </div>
    </div>
    <form id="eventForm" action="{{ url_for('addEventSubmit') }}" method="POST">
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label>Event Name</label>
                    <input id="event-name" type="text" class="form-control" placeholder="Enter Event Name" 
                        required value=" {{ request.form.eventname }}" name="eventname">
                </div>
            </div><br>
            <div class="row">
                <div class="col-6">
                    <label>Date</label>
                    <input id="date-picker" class="form-control" name="date"
                        type="text" required value="{{ request.form.date }}">
                </div>
            </div><br>
            <div class="row">
                <div class="col-12">
                    <label>Description (Not over 500 characters)</label>
                    <textarea class="form-control" maxlength="500" rows="5" name="description" 
                              value="{{ request.form.description }}" form="eventForm"></textarea>
                </div>
            </div><br>
            <div class="row">
                <div class="col-12">
                    <input id="add-images" type="file" required multiple accept="image/*" name="eventImages">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="image-gallery"></div>
            </div>
        </div>
        <button id="confirm-modal" type="submit" class="btn btn-primary btn-block"
                data-toggle="modal" data-target="#confirm_modal">Add</button>
    </form>
    
</section>

<script type="text/javascript" src="{{ url_for('static', filename='js/date-picker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/imageFiles.js') }}"></script>
{% endblock %}