{% set title = 'Event Detail' %}
{% extends "shared/layout.html" %}
{% block content %}

<section>
    <div class="panel-group">
        <div class="block block--underline">
            <div class="row">
                <div class="col-9">
                    <h1>{{ model['eventName'] }}</h1>
                </div>
                <div class="col-2">
                    <a class="btn btn-primary" role="button" href="{{ url_for('selectImage') }}">Find yourself!</a>
                </div>
                <div class="col-1">
                    <a class="btn btn-outline-primary" style="float: right;" role="button"  href="{{ url_for('editEvent', id=model['id']) }}">
                        Edit
                    </a>
                </div>
            </div>
            <label class="label label-info">{{ model['date'] }}</label>
        </div>
        <div class="row">
            {% for i in range(model['imageUrl']|length) %}
                <div class="col-sm-3 col-md-3 mt-5">
                    <img id="image-modal-{{ i }}" class="img-thumbnail" src={{ model['imageUrl'][i] }}>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'shared/_imageModal.html' %}

</section>

<script type="text/javascript" src="{{ url_for('static', filename='js/pages/image_modal.js') }}"></script>


{% endblock %}

