{% set title = 'Select Image' %}
{% extends "shared/_layout.html" %}
{% block content %}

<section>
    <div class="panel-group">
        <div class="block block--underline">
            <h1 style="display: inline;">{{ title }}</h1>
        </div>
    </div>
    <div class="form-group" id="vid-controls">
        <div class="row">
            <div class="col-12  form-group">
                <video id="vid-show" width="480" height="360" autoplay></video>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12 form-group">
                <label>Similarity: </label>
                <input id="slider-value" type="range" value="50" min="0" max="100">
                <label id="slider-show">50%</label>
                <label>(50% is the optimal value)</label>
            </div>
            <div class="col-12 form-group">
                <label> Take a selfie: </label>
                <input id="vid-take" type="button" value="Take Photo" />
            </div>
            <div class="col-12 form-group">
                <label> Or select from your gallery: </label>
                <input id="user-image" type="file" multiple accept="image/*"
                    name="userImage">
            </div>
            <div class="row form-group">
                <div class="col-md-12" id="user-gallery"></div>
            </div>
        </div>
        <br>
        <button id="confirm-button" type="button" class="btn btn-primary btn-block">Done</button>
        <input id="eventId" value={{ eventId }} hidden>
    </div>
</section>

<script type="text/javascript" src="{{ url_for('static', filename='js/pages/select-image.js') }}"></script>


{% endblock %}