{% set title = 'Sign up' %}
{% extends "shared/layout.html" %}
{% block content %}

<section>
    <div class="panel-group">
        <div class="block block--underline">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <form action="{{ url_for('signCheck') }}" method="POST">
        <div class="row">
            <div class="col-6">
                <label>First Name</label>
                <input id="firstName" type="text" class="form-control"
                        name="firstName" required>
            </div>
            <div class="col-6">
                <label>Last Name</label>
                <input id="lastName" type="text" class="form-control"
                        name="lastName" required>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label>Username</label>
                <input id="username" type="text" class="form-control" 
                        name="eventname" placeholder="Enter your username" required>
            </div>
            <div class="col-12">
                <label>Password</label>
                <input id="password" type="password" class="form-control"
                        name="password" placeholder="Enter your password" required>
        </div>
            </div><br>
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </div>
        </div>
    </form>
    
</section>

{% endblock %}