<div class="modal fade" id="camera-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Take a selfie.</h4>
        </div>
        <div class="modal-body">
            <video id="video" width="640" height="480" autoplay></video>
        </div>
        <div class="modal-footer">
            <button id="js-snap-image" type="button" class="btn btn-mw-120 btn--success js-confirm-btn">Snap!</button>
        </div>
    </div>
</div>