<div class="modal" id="confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirm</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-mw-120 btn--success js-confirm-btn">Yes</button>
            <button type="button" class="btn btn-mw-120 btn--cancel" data-dismiss="modal">No</button>
        </div>
    </div>
</div>